.CarouselFrame {
	width: 100%;
	overflow: hidden;
}

.CarouselTrack {
}

.CarouselSlide {
	position: relative;
	float: left;
	display: inline-block;
	margin: 0 10px;
}

.CarouselSlide img {
	width: 100%;
}